.manager-user-container {
    padding: 10px;
    .title {
        font-weight: 600;
        font-size: 20px;
    }
    
    
    .users-content {
        .img-preview {
            // border: 1px solid red;
        }
        .btn-add-user {
            margin: 15px 0;;
        }
    }
}

.modal-add-user {
    .img-preview {
        height: 150px;
        border: dashed 1px #ccc;
        border-radius: 5px;
        color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .label-upload {
        cursor: pointer;
        display: flex;
        border-radius: 5px;
        background-color: #eeeeee;
        align-items: center;
        border: none;
        width: fit-content;
        gap: 5px;
        padding: 3px 10px;
        &:hover {
            background-color: #dddddd;
        }
    }
}